/*
* ----------------------------------------------------------------------------------------
* 10. Chat page 
* ----------------------------------------------------------------------------------------
*/

.host {
  margin-top: 15px;
  margin-bottom: 15px;
  position: relative;
}

.user-pic {
  width: 30px;
  height: 30px;
  background: #555;
  border-radius: 5px;
  display: inline-block;
  vertical-align: bottom;
  position: relative;

  img {
    border-radius: 5px;
  }
}

.user-chat {
  background: $secondary;
  border-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 15px;
  border-bottom-left-radius: 0px;
  width: 87%;
  display: inline-block;
  margin-left: 3%;
}

.host {
  .time {
    text-align: right;
    font-size: 10px;
    color: $white;
    margin-top: 5px;
  }

  &.guest {
    .time {
      text-align: left;
    }

    .user-chat {
      margin-left: 0px;
      margin-right: 3%;
      border-bottom-right-radius: 0px;
      border-bottom-left-radius: 10px;
    }
  }
}

.day-time {
  text-align: center;
  font-weight: 600;
  font-size: 13px;
  color: $white;
  text-transform: uppercase;
}

.user-chat p {
  margin-bottom: 10px;
  color: $primary;

  &:last-child {
    margin-bottom: 0px;
  }
}

.chat-type {
  width: 83%;
  background: $secondary;
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 55px;
  padding: 10px;

  input {
    border-radius: 5px;
    border: 0px;
    height: 35px;
    width: 100%;
    padding-left: 10px;
    padding-right: 15px;
    background: $white;
  }
}

.user-pic {
  &.orange:after {
    background: #ff880a;
  }

  &.green:after {
    background: #00cc4f;
  }

  &:after {
    content: "";
    width: 8px;
    height: 8px;
    display: block;
    border-radius: 100%;
    right: -2px;
    position: absolute;
    top: -1px;
    border: 1px solid #EEE;
  }
}

.chat-type button {
  position: absolute;
  right: 15px;
  background: no-repeat;
  font-size: 15px;
  top: 21px;
  color: $primary;
}