/*
* ----------------------------------------------------------------------------------------
* 8.Message Page 
* ----------------------------------------------------------------------------------------
*/

.massage-box {
  ul {
    margin: 0px;
    padding: 0px;
    list-style: none;

    li {
      border-bottom: 1px solid #444;
      margin-top: 25px;
      padding-bottom: 5px;
    }
  }

  .name {
    font-size: 16px;
    color: #DDD;
    font-weight: 700;
    display: inline-block;
    vertical-align: top;
    margin-top: 5px;
  }

  .top-box {
    position: relative;
    margin-bottom: 10px;

    .time {
      position: absolute;
      right: 0px;
      top: 10px;
      color: $secondary;
      font-size: 12px;
    }

    .pic {
      width: 35px;
      height: 35px;
      border-radius: 5px;
      overflow: hidden;
      display: inline-block;
      margin-right: 10px;
    }
  }

  p {
    font-size: 13px;
    color: $white;
    opacity: 0.6;
  }
}