// :: 1.0 Fonts
$font-family: 'poppinsregular';

// :: 2.0 Template Colors
// Primary Color
$primary: #11cc97;

// Secondary Color
$secondary: #444444;

// White Color
$white: #ffffff;

// Dark Color
$dark: #000000;


